# Copy this file to .env and adjust as needed. Create React App only exposes
# variables prefixed with REACT_APP_ to the browser bundle.

REACT_APP_API_URL=http://localhost:3333
REACT_APP_SOCKET_URL=http://localhost:3333
