# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

yarn-error.log*

# environment files (may contain secrets)
.env
.env.*
!.env.example

# production build
/build
